/* .container-fluid{
  padding-right: 25px;
  padding-left: 25px;
} */

.scroller{
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: #6c63ff grey;
}
.scroller::-webkit-scrollbar {
  width: 4px;
}
.scroller::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.6); 
  border-radius: 10px;
  display: none;
}

.scroller::-webkit-scrollbar-thumb {
  color: black;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px #6C63FF;
}
.nunito {
  font-family: 'Nunito', sans-serif;
}
.bold {
  font-weight: bold;
}
.font-12px {
  font-size: 12px;
}
.our-nav {
  background: #6C63FF;
  width:100%;
  /* position: fixed; */
  height: 80px;
}
.online-chatbot {
  height: 100%;
  color: white;
}
.online-chatbot .chatbot-image {
  height: 62.27px;
  width: 62.37px;
  border-radius: 50%;
}
.chatbot-image img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.our-nav ul {
  color: white;
}
.our-nav ul a{
  color: white !important;
}
.border-black {
  border: 1px solid black;
}
.btn-brand {
  color: white;
  background: #6C63FF;
}
.avatar {
  position: absolute;
  z-index: 1;
  left: 0px;
  border-radius: 30px;
  width: 30px;
  height: 30px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 2px solid rgba(255, 255, 255, 0.24);
}
.avatar img {
  width: 100%;
  height: auto;
}
.button-send-con button {
        padding: 10px  13px 10px 13px; border-radius: 50%; margin-top: 13px;
    }
#chat-input-box {
    flex: 0 0 95.666667%;
    max-width: 95.666667%;
}
#chat-send-box {
    max-width: 4.333333%;
}

 @media(max-width: 992px) {
        #chat-input-box {
            flex: 0 0 92.666667%;
            max-width: 92.666667%;
        }
        #chat-send-box {
            max-width: 7.333333%;
        }
 }



@media (max-width: 768px) {
        #chat-input-box {
            flex: 0 0 98%;
            max-width: 98%;
        }
        #chat-send-box {
            max-width: 2%;
        }
    .button-send-con button {
        padding:10px  13px 10px 13px; 
        margin-top: 14.5px;
    }
    .type-message-input{
        height: 40px;
        border-radius: 25px;
        color: #787878;
        background: #DBD9FD;
        font-size: 10px;
    }
    .type-message-input::placeholder {
        color: #787878;
        font-size: 10px;
    }
}
@media (max-width: 500px) {
    .button-send-con button {
        margin-top: 15px;
    }
    #chat-input-box {
            flex: 0 0 95%;
            max-width: 95%;
        }
        #chat-send-box {
            max-width: 5%;
        }
    .button-send-con button {
        padding: 8px 10px;
    }
}
