
.chat-area {
    height: 80vh;
    line-height: 1.3;
    /* padding-top: 80px; */
    overflow: hidden;
}
.chat-display {
    height: 90%;
}
.single-chat-message-area {
    min-height: 7vh;
    width: 100%;
    border: 1px solid transparent;
}

.chat-content {
    border-radius: 10px 0px 10px 0px;
    padding: 10px 15px;
    font-size: 13px;
    max-width: 350px;
    word-wrap: break-word
}
.mobile-nav {
   display: none;
}
.menu-icon {
    display: none;
    cursor: pointer;
    float: right;
}
.c19-nav {
    position: absolute;
    width: 100%;
    background-color: #6C63FF;
    border-top: 1px solid #e6e6e6;
    left: 0;
    padding: 0;
    display: none;
    z-index: 900;
    text-align: center;
    top: 80px;
}
.c19-nav img {
    width: 30px;
    height: 30px;
  }

@media screen and (max-width: 992px) {
    .menu-icon {
        display: block;
    }
    .mobile-nav {
        position: absolute;
        width: 100%;
        background-color: #6C63FF;
        border-top: 1px solid #e6e6e6;
        left: 0;
        padding: 0;
        z-index: 900;
        top: 80px;
    }
    .mobile-nav li {
        display: inline-block;
    }
}
@media screen and (max-width: 768px) {
    .chat-content {
        padding: 0px;
    }
    .bg-parent {
        background-size: cover;
    }
    .c19-nav {
      font-size: 12px;
    }
    .c19-nav img {
        width: 25px;
        height: 25px;
      }
}

.bot-messages {
    margin-left: 20px;
    width: 100%;
    float: left;
    min-height: 7vh;
}
/* .bot-messages .chat-content {
    border: .5px solid grey;
    color: #6C63FF;
    background: white;
} */
.bot-messages p {
    overflow: hidden;
    border: .5px solid grey;
    color: #6C63FF;
    background: white;
    border-radius: 10px 0px 10px 0px;
    text-align: justify;
    padding: 10px 15px;
    font-size: 13px;
    float: left;
}
.user-messages {
    float: right;
    width: 100%;
}
/* .user-messages .chat-content {
    background: #6C63FF;
    color: white;
    float: right;
} */
.user-messages p {
    border: .5px solid grey;
    color: white;
    background: #6C63FF;
    float: right;
    border-radius: 10px 0px 10px 0px;
    padding: 10px 15px;
    font-size: 13px;
    text-align: justify;
    float: right;
}
.type-message-area {
    /* height: 15%; */
    position: fixed;
    bottom: 5px;
}
.type-message-input{
    height: 40px;
    border-radius: 25px;
    color: #787878;
    background: #DBD9FD;
    font-size: 13px;
}
.type-message-input::placeholder {
    color: #787878;
    font-size: 13px;
}
.type-message-input:active, .type-message-input:focus {
    outline: none;
    box-shadow: none;
}
.input-box {
    border-right: 1px solid black;
}

.loadMoreBtn {
    min-width: 100px;
    margin-left: 18px;
    margin-top: -25px;
    float: left;
}
.loadMoreBtn span {
    padding: 2px 45px 2px 45px;
    margin: 1px;
    color: white;
    background: #6C63FF;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid #e6e6e6;
    text-align: center;
    cursor: pointer;
    transition: 1s all ease;
}
.loadMoreBtn span:hover{
    background: #e6e6e6;
    color: #6C63FF;
    border: 1px solid #6C63FF;
    text-align: center;
    transform: scale(1.002);
}
@media screen and (max-width: 500px) {
    .bot-messages {
        width: 90%;
    }
    .user-messages {
        width: 90%;
    }
    input::placeholder {
        font-size: 5px;
    }
    .loadMoreBtn span {
        padding: 2px 20px 2px 20px;
        font-size: 10px;
    }
    .mobile-nav {
        font-size: 10px;
    }
    .chatbot-name-status h4 {
        font-size: 17px;
        margin-top: 10px !important;
    }
    .c19-nav {
        text-align: left;
        padding-left: 5px;
        font-size: 8px;
        padding: 5px;
      }

}
